<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Flask Board</title>
  </head>
  <body>
    <table>
      <form name="form" action="/write" method="POST">
        <tr>
          <td>작성자</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>제목</td>
          <td><input type="text" name="title"></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><textarea name="contents" id="contents" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit"></td>
        </tr>
      </form>
    </table>
  </body>
</html>
