<div class="menu">
  <h2>Menu</h2>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/tasks">Todo List</a>
    </li>
    <li>
      <a href="/tasks/completed">Completed</a>
    </li>
  </ul>
</div>

<div class="home">
  <p>
    This is an example of create, read, update, delete web application built with Express.js v4.8.1, and Mongoskin&MongoDB for&nbsp;
    <a href="http://proexpressjs.com" target="_blank">Pro Express.js</a>.
  </p>
  <p>
    The full source code is available at&nbsp;
    <a href="http://github.com/azat-co/todo-express" target="_blank">github.com/azat-co/todo-express</a>.
  </p>
  <p>
    For Express 3.x go to&nbsp;
    <a href="https://github.com/azat-co/todo-express/releases/tag/v0.1.0" target="_blank">release 0.1.0</a>.
  </p>
</div>
