<div class="menu">
  <h2>Menu</h2>
  <ul class="nav nav-pills">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/tasks">Todo List</a>
    </li>
    <li class="active">
      <a href="/tasks/completed">Completed</a>
    </li>
  </ul>
</div>

<h1>{{title}}</h1>
