{% extends "base.html" %}

{% block content %}
<div class="mt-5"></div>
<table class="table" style="width: 900px">
  <tbody>
    <tr>
      <td colspan="3">{{ result.title }}</td>
    </tr>
    <tr>
      <td>작성자: {{ result.name }}</td>
      <td>작성시간: {{ result.created_at|formatdatetime }}</td>
      <td>조회수: {{ result.view }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <div style="min-height: 200px">{% autoescape false %}{{ result.contents }}{% endautoescape %}</div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
      {% if result.attachfile %}
        첨부파일 : &nbsp;<a href="{{ url_for('board.board_files', filename=result.attachfile) }}">{{ result.attachfile }}</a>
      {% endif %}
      </td>
    </tr>
  </tbody>
</table>
<div id="button" style="width: 900px">
  <a href="{{ url_for('board.lists', page=page, search=search, keyword=keyword) }}" class="btn btn-secondary">목록보기</a>
  {% if session["id"] == result.writer_id %}
  <a href="{{ url_for('board.board_edit', idx=result.id)}}" class="btn btn-outline-primary ml-1">수정</a>
  <a href="{{ url_for('board.board_delete', idx=result.id)}}" class="btn btn-outline-danger float-right">삭제</a>
</div>
  {% endif %}
</div>
{% endblock %}
