{% extends "base.html" %}

{% block title %}Flask board - Edit{% endblock %}

{% block content %}
<div class="card my-3" style="width: 800px">
  <div class="card-body">
    <h5 class="card-title mr-4 text-center">작성된 글 수정</h5>
    <form name="form" action="{{ url_for('board.board_edit', idx=data._id) }}" method="POST" onsubmit="return checkForm()" class="mt-4 mr-4">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label text-right">작성자</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="name" id="name" value="{{ session['name'] }}" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label text-right">제목</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="title" id="title" placeholder="제목을 입력하세요." value="{{ data.title }}" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="contents" class="col-sm-2 col-form-label text-right">내용</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="contents" id="contents" placeholder="내용을 입력하세요." cols="30" rows="10" required>{{ data.contents }}</textarea>
        </div>
      </div>
      <div class="text-center">
        <a href="{{ url_for('board.lists') }}" class="btn btn-secondary">취소</a>
        <input type="submit" value="수정완료" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function checkForm() {
    if ($.trim($('#title').val()) == '') {
      alert('제목을 입력하세요.')
      $('#title').focus();
      return false;
    }

    if ($.trim($('#contents').val()) == '') {
      alert('내용을 입력하세요.')
      $('#contenst').focus();
      return false;
    }

    return true;
  }
</script>
{% endblock %}
