{% extends "base.html" %}

{% block content %}
<div class="mt-5"></div>
<table class="table">
  <tbody>
    <tr>
      <td colspan="3">{{ result.title }}</td>
    </tr>
    <tr>
      <td>작성자: {{ result.name }}</td>
      <td>작성시간: {{ result.created_at|formatdatetime }}</td>
      <td>조회수: {{ result.view }}</td>
    </tr>
    <tr>
      <td colspan="3"><div style="min-height: 200px">{{ result.contents }}</div></td>
    </tr>
    <tr><td colspan="3"></td></tr>
  </tbody>
</table>
<div>
  <a href="{{ url_for('board.lists', page=page, search=search, keyword=keyword) }}" class="btn btn-secondary">목록보기</a>
  {% if session["id"] == result.writer_id %}
  <a href="{{ url_for('board.board_edit', idx=result.id)}}" class="btn btn-outline-primary ml-1">수정</a>
  <a href="{{ url_for('board.board_delete', idx=result.id)}}" class="btn btn-outline-danger float-right">삭제</a>
</div>
  {% endif %}
</div>
{% endblock %}
