<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    <header>
      {{> header}}
    </header>

    <h1>{{menu}}</h1>
    <p>{{menu}}의 본문 부분 입니다.</p>

    <footer>
      {{> footer}}
    </footer>
  </body>
</html>
