<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h2>리스트 요소 속성 변경하기</h2>
    <div id="app">
      <ul>
        <li v-for="(item, index) in list" v-bind:key="item.id" v-if="item.hp">
          ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
          <span v-if="item.hp < 50">빈사 상태!</span>
          <!-- 버튼은 v-for 내부에 만들기 -->
          <button v-on:click="doAttack(index)">공격하기</button>
        </li>
      </ul>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          list: [
            { id: 1, name: '슬라임', hp: 100 },
            { id: 2, name: '고블린', hp: 200 },
            { id: 3, name: '드래곤', hp: 500 }
          ]
        },
        methods: {
          // 공격 버튼을 클릭할 때의 핸들러
          doAttack: function (index) {
            this.list[index].hp -= 10; // HP 감소시키기
          }
        }
      });
    </script>
  </body>
</html>
