{% extends "base.html" %}

{% block content %}
<table id="write">
  <form name="form" action="{{ url_for('board.board_write') }}" method="POST">
    <tr>
      <td>작성자</td>
      <td><input type="text" name="name" value="{{ session['name'] }}" readonly></td>
    </tr>
    <tr>
      <td>제목</td>
      <td><input type="text" name="title"></td>
    </tr>
    <tr>
      <td>내용</td>
      <td><textarea name="contents" id="contents" cols="30" rows="10"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit"></td>
    </tr>
  </form>
</table>
<a href="{{ url_for('board.lists') }}">목록보기</a>
{% endblock %}
