{% extends "base.html" %}

{% block content %}
<div class="mt-5"></div>
<table class="table" style="width: 900px">
  <tbody>
    <tr>
      <td colspan="3">{{ result.title }}</td>
    </tr>
    <tr>
      <td>작성자: {{ result.name }}</td>
      <td>작성시간: {{ result.created_at|formatdatetime }}</td>
      <td>조회수: {{ result.view }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <div style="min-height: 200px">{% autoescape false %}{{ result.contents }}{% endautoescape %}</div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
      {% if result.attachfile %}
        첨부파일 : &nbsp;<a href="{{ url_for('board.board_files', filename=result.attachfile) }}">{{ result.attachfile }}</a>
      {% endif %}
      </td>
    </tr>
  </tbody>
</table>
<div id="button" style="width: 900px">
  <a href="{{ url_for('board.lists', page=page, search=search, keyword=keyword) }}" class="btn btn-secondary">목록보기</a>
  {% if session["id"] == result.writer_id %}
  <a href="{{ url_for('board.board_edit', idx=result.id)}}" class="btn btn-outline-primary ml-1">수정</a>
  <a href="{{ url_for('board.board_delete', idx=result.id)}}" class="btn btn-outline-danger float-right">삭제</a>
</div>
  {% endif %}
</div>

<div class="mt-5">
  <form name="commentForm" action="{{ url_for('board.comment_write') }}" method="POST" id="commentForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="board_id" value="{{ result.id }}">
    <div id="commentArea" style="width: 900px">
      <span style="margin-left: 12px;">댓글 목록</span>
      {% if comments.count() > 0 %}
      <span id="commentCount">&nbsp;{{ comments.count() }}</span>
      {% endif %}
      <table class="table" style="width: 900px">
        {% if comments.count() > 0 %}
          {% for comment in comments %}
          <tr>
            <td>
              <span style="display: inline-block; width: 80px; margin-left: 10px;"><small>{{ comment.name }}</small></span>
              <span><small>{{ comment.comment }}</small></span>
              <span class="float-right"><small>{{ comment.created_at|formatdatetime }}</small></span>
            </td>
            <td class="text-center">
              {% if comment.writer_id == session.get('id') %}
              <small><a href="#">수정</a></small><span style="color: #808080">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <small><a href="#" class="text-danger">삭제</a></small>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        {% endif %}
        <tr>
          <td>
            <textarea name="comment" id="comment" cols="100" rows="4" placeholder="댓글을 입력하세요." style="padding: 5px"></textarea>
          </td>
          <td><input type="submit" value="댓글 등록" class="btn btn-outline-primary" style="height: 90px; margin-top: 8px;"></td>
        </tr>
      </table>
    </div>
  </form>
</div>
{% endblock %}
