{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Blog - Edit Comment{% endblock %}

{% block main_area %}
  <h1>Edit Comment</h1>
  <hr/>
  <form method="post" id="comment-form">
    {% csrf_token %}
    <!--{{ form|crispy }}-->
    <div class="form-group">
      <label for="content">Comment</label>
      <textarea class="form-control" name="content" id="content" rows="10" required>{{ form.content.value|default_if_none:'' }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
  </form>
{% endblock %}
