<div class="container">
  <div class="row">
    <h1>title<small> by author</small></h1>
    <p>description</p>
  </div>
  <div class="row">
    <ul class="thumbnails">
      <li class="span3">
        <a class="thumbnail" href="#" target="_blank">
          <img src="" title="image caption" alt="image">
        </a>
      </li>
    </ul>
  </div>
</div>
