<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h2>좀더 좋아진 ToDo 리스트</h2>
    <style>
      .donestyle {
        text-decoration: line-through;
        color: lightgray;
      }
    </style>

    <div id="app">
      <div v-for="(todo, index) in todos">
        <label>
          <input type="checkbox" v-model="todo.done" />
          <span v-bind:class="{donestyle: todo.done}">
            {{todo.text}} (완료일 {{ todo.DueDate }})
          </span>
          <button v-on:click="extendDate(index)">완료일 연장</button>
        </label>
      </div>

      <p>
        <input
          text="text"
          v-model.trim="addText"
          v-on:keyup.enter="addToDo"
          placeholder="할일"
        />
        <input
          text="text"
          v-model.trim="dueDate"
          v-on:keyup.enter="addToDo"
          placeholder="완료일"
        />
        (YYYYMMDD 형식으로 입력)
      </p>
      <p>
        <button v-on:click="cleanToDo">처리완료 삭제</button>
        <button v-on:click="sortData('todo')">할일순으로 정렬</button>
        <button v-on:click="sortData('date')">완료일로 정렬</button>
      </p>
      <p>
        {{ todos.length }}건 중 {{ remaining }}건 처리, {{ overdate }} 완료일
        지남
      </p>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          addText: '',
          dueDate: '',
          todos: [
            { done: true, text: '빵사기', DueDate: '20210618' },
            { done: true, text: '커피사기', DueDate: '20210624' },
            { done: false, text: '공부하기', DueDate: '20210630' },
            { done: false, text: '놀기', DueDate: '20210620' },
            { done: false, text: '영화보기', DueDate: '20210626' }
          ]
        },
        methods: {
          addToDo: function () {
            if (this.addText) {
              var due_date = this.dueDate;
              if (this.dueDate === '') {
                var date = new Date();
                date = new Date(Date.parse(date) + 1 * 1000 * 60 * 60 * 24);
                var year = date.getFullYear();
                var month = new String(date.getMonth() + 1);
                var day = new String(date.getDate());
                if (month.length == 1) month = '0' + month;
                if (day.length == 1) day = '0' + day;
                due_date = year + month + day;
              }
              this.todos.push({
                done: false,
                text: this.addText,
                DueDate: due_date
              });
              this.addText = '';
            }
          },
          cleanToDo: function () {
            this.todos = this.todos.filter(function (value) {
              return value.done === false;
            });
          },
          extendDate: function (index) {
            var str_date = this.todos[index].DueDate;
            var y = str_date.substr(0, 4);
            var m = str_date.substr(4, 2);
            var d = str_date.substr(6, 2);

            var date = new Date(
              Date.parse(new Date(y, m - 1, d)) + 1 * 1000 * 60 * 60 * 24
            );
            var year = date.getFullYear();
            var month = new String(date.getMonth() + 1);
            var day = new String(date.getDate());
            if (month.length == 1) month = '0' + month;
            if (day.length == 1) day = '0' + day;

            var due_date = year + month + day;
            this.todos[index].DueDate = due_date;
          },
          sortData: function (type) {
            if (type === 'todo') {
              this.todos.sort(function (a, b) {
                //console.log(a.text);
                //console.log(b.text);
                //console.log(a.text < b.text ? -1 : 1);
                return a.text < b.text ? -1 : 1;
              });
            } else {
              this.todos.sort(function (a, b) {
                return a.DueDate < b.DueDate ? -1 : 1;
              });
            }
          }
        },
        computed: {
          remaining: function () {
            return this.todos.filter(function (value) {
              return value.done;
            }).length;
          },
          overdate: function () {
            return this.todos.filter(function (value) {
              var date = new Date();
              var year = date.getFullYear();
              var month = new String(date.getMonth() + 1);
              var day = new String(date.getDate());
              if (month.length == 1) month = '0' + month;
              if (day.length == 1) day = '0' + day;
              var due_date = year + month + day;
              return value.DueDate < due_date;
            }).length;
          }
        }
      });
    </script>
  </body>
</html>
