{% extends "base.html" %}

{% block title %}post_detail.html{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>

<div style="color: gray; font-size: 12px;">{{ object.modify_dt|date:"Y년 M d일" }}</div>
<br />

<div>{{ object.content|linebreaks }}</div>

<!-- 원본 상단에 위치하는 것을 하단으로 이동시킴 -->
<p class="mt-5">
  {% if object.get_next %}
  <a href="{{ object.get_next.get_absolute_url }}" title="View previous post">
      <i class="fas fa-arrow-circle-left"></i> {{ object.get_next }}
  </a>
  {% endif %}

  {% if object.get_next and object.get_previous %}
  |
  {% endif %}

  {% if object.get_previous %}
  <a href="{{ object.get_previous.get_absolute_url }}" title="View next post">
  {{ object.get_previous }} <i class="fas fa-arrow-circle-right"></i>
  </a>
  {% endif %}
</p>
{% endblock %}
