<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Flask board{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
  <!-- flash 메시지 출력 -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script>
        alert("{{ messages[-1] }}");
      </script>
    {% endif %}
  {% endwith %}

  {% include "menu.html" %}

  {% block content %}
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>
</html>
