<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Flask Board</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          alert("{{ messages[-1] }}");
        </script>
      {% endif %}
    {% endwith %}
    <table>
      <form name="form" action="{{ url_for('board.board_edit', idx=data._id) }}" method="POST">
        <tr>
          <td>작성자</td>
          <td><input type="text" name="name" value="{{ session['name'] }}" readonly></td>
        </tr>
        <tr>
          <td>제목</td>
          <td><input type="text" name="title" value="{{ data.title }}"></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><textarea name="contents" id="contents" cols="30" rows="10">{{ data.contents }}</textarea></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit"></td>
        </tr>
      </form>
    </table>
    <a href="{{ url_for('board.board_view', idx=data._id) }}">취소</a>
  </body>
</html>
