<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

  <body>
    <h2>입력폼 활용</h2>
    <div id="app">
      이름 : <input v-model.lazy="myName" placeholder="이름" /> <br />

      <p>좋아하는 색은 : <br /></p>
      <p>
      <label>
        <input type="radio" value="red" v-model="myColor" />
        빨강
      </label><br />
      <label><input type="radio" value="green" v-model="myColor" /> 녹색</label
      ><br />
      <label><input type="radio" value="blue" v-model="myColor" /> 파랑색</label
      ><br />
      <label><input type="radio" value="yellow" v-model="myColor" /> 노란색</label
      ><br />
      <label><input type="radio" value="gray" v-model="myColor" /> 회색</label
      ><br />
      </p>
      <p v-bind:style="{color: myColor}">
        내 이름은 {{ myName }} 이고 좋아하는 색은 {{myColor}} 입니다.
      </p>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          myName: '',
          myColor: ''
        }
      });
    </script>
  </body>
</html>
