{% extends "base.html" %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}
<style type="text/css">
  .home-image {
    background-image: url("{% static 'img/lion.jpg' %}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    padding: 20px 0 0 20px;
  }
  .title {
    color: #ebebeb;
    font-weight: bold;
  }
  .powered {
      position: relative;
      top: 77%;
      color: gray;
      font-style: italic;
  }
</style>
{% endblock %}

{% block content %}
<div class="home-image">
  <h2 class="title">Django - Python Web Programming</h2>
  <h4 class="powered"><i class="fas fa-arrow-circle-right"></i> powered by django and bootstrap.</h4>
</div>

<hr style="margin: 10px 0;">

<div class="row text-center">
  <div class="col-sm-6">
    <h3>Bookmark App</h3>
    <p>Bookmark is a Uniform Resource Identifier (URI) that is stored for later retrieval in any of various storage formats. You can store your own bookmarks by Bookmark application. It's also possible to update or delete your bookmarks.</p>
  </div>
  <div class="col-sm-6">
    <h3>Blog App</h3>
    <p>This application makes it possible to log daily events or write your own interests such as hobbies, techniques, etc. A typical blog combines text, digital images, and links to other blogs, web pages, and other media related to its topic.</p>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="fixed-bottom" style="background-color: #e3f2fd;">
  <div class="text-right mr-5" style="color: #646f77;">Copyright &copy; 2021 Django Web by anifilm.</div>
</footer>
{% endblock %}
