<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand mb-0 h1" href="/">About</a>

    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/all">모든 항목</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/active">해야 할 항목</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/completed">완료된 항목</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
