{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
  <div class="row">
    <div class="col-12">
      <form action="/" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        {{ form.files(size=20) }}
        <input type="submit" class="btn btn-outline-dark" />
      </form>
    </div>
  </div>
</div>

<div class="col-md-auto mt-5 ml-5 mr-5">
  <table class="table table-sm table-responsive-md table-hover text-center">
    <thead>
      <tr>
        <th></th>
        <th>이름</th>
        <th>만든 날짜</th>
        <th>마지막으로 수정한 날짜</th>
        <th>파일 크기</th>
      </tr>
    </thead>

    <tbody>
      {% for info in infos %}
      <tr>
        {% if info['name'].split('.')[1].lower() == "png"
           or info['name'].split('.')[1].lower() == "jpg"
           or info['name'].split('.')[1].lower() == "jpeg"
           or info['name'].split('.')[1].lower() == "gif" %}
        <td class="badge badge-pill badge-success align-middle">{{info['name'].split(".")[1].lower()}}</td>
        {% elif info['name'].split('.')[1].lower() == "7z"
             or info['name'].split('.')[1].lower() == "zip" %}
        <td class="badge badge-pill badge-primary align-middle">{{info['name'].split(".")[1].lower()}}</td>
        {% else %}
        <td class="badge badge-pill badge-light align-middle">{{info['name'].split(".")[1].lower()}}</td>
        {% endif %}

        <td class="text-left">{{ info['name']}}</td>
        <td>{{ info['create'].strftime("%Y-%m-%d") }}</td>
        <td>{{ info['modify'].strftime("%Y-%m-%d") }}</td>
        <td>{{ info['size'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
