#page-header {
  height: 200px;
  background: url('../assets/images/main-image.jpg');
  background-position: 50% 90%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}

#main-footer {
  background: #343a40;
  color: white;
}
